build/
cmake-build-*/
out/

vcpkg/
vcpkg_installed/

*.log
*.tmp
*.swp
.DS_Store

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt  # این رو استثنا کن چون خودت نوشتی

Debug/
Release/
x64/
x86/

.vscode/
.idea/
*.user
*.suo